{% extends "base.html" %}
{% block links %}
    <link type="text/css" href="/static/css/colorbox.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/scripts/jquery.colorbox.js"></script>
{% endblock %}
{% block main%}
    <div style="display: none">
        <div id='inline_content' style='padding:10px; background:#fff;'>
            <form action="" method="post" style="margin-left:10px;">{% csrf_token %}
                <div>
                    <label for="username">Имя пользователя:</label>
                </div>
                <div>
                    <input type accept="text" name="username" value="" id="username" size="30">
                </div>
                <div>
                    <label for="password">Пароль:</label>
                </div>
                <div>
                    <input type = "password" accept="text" name="password" value="" id="password" size="30">
                </div>
                <div style="margin-top:10px;"><input type="submit" value="Войти"></div>
            </form>
            <script type="text/javascript">
                $(function() {
                    $( "input:submit" ).button();
                     $.fn.colorbox({width:"30%", inline:true, href:"#inline_content"});
                });
            </script>
        </div>
    </div>
{% endblock %}