/*body {
    color: #3869FF;
}*/
.back {
    background: url("/static/images/back_cell.jpg") repeat;
    border: solid #287777 thin;
    height: 100%;
    margin:0 auto;
}

a {
    color: #3869FF;
}

html {
    height: 99%;
}

body {
    font-size: larger;
    height: 99%;
    font: normal Arial, Helvetica, sans-serif;
}

h1 {
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    background: url("/static/images/header_bg.jpg") repeat-x;
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
}

h1#main {
    color: #ffffff;
}

h2 {
    text-align: left;
    color: #3869FF;
    height: 10px;
    font-size: large;
    margin-left: 12px;
    margin-bottom: 0;
    vertical-align: bottom;
}

table {
    padding: 0;
}

th {
    background: inherit;
}

a.task {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

td.task {
    width: 60px;
    height: 40px;
    background: url("/static/images/bg_task.png") repeat-x;
    margin: 5px;
    text-align: center;
}

.highlight {
    font-weight: bold;
}

.gradient {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACACAMAAAD9J/PGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdQTFRF/Pz8zc3N2traz8/P0NDR0tLS0NDQ9fX1+Pj4//7/9PT04uLi6Ojo39/fzs3NzMzM/f7+3Nzc9fb26uvq6urp4ODh9/f44+Pj+vn519fX29zb19bX1tXV6Onp5OPk2dnY+/r79vX1+vv7+vr6+Pn4+fr6/////v7+0dHR09PT/fz80tPS0dHS/Pv78vPzzs7P/v39zs7O7/Dv/f393t7d8vLx3+Dg2drZ8PDw8fHw5+bn2dnZ7ezt7+/v5eXl5OTl+fn46+vr7u7u6urq1NTV1dXV4ODg2NnY7O3s19fY09TUz87P4eHh09PS9PP0zczM7u7t3Nzd8vLy29va8fHx5uXm5ubm7u7v5OTk1dXU19fW3Nvc5+fn+/v71tbV3d3dz87O7Ovs6Ofn3t7e9vf28/Pz4+Pi7Ozs8O/v9/f31NTT/P399vb3QCtbEwAAAKZJREFUeNokw9NSBQAUQNGV3c22bdu2bdf/P3em9potIWFf0p/8MKjfg20pIT2khg490kK3XZ22fLm0YlWNO1eqVdq0rt60ccnhWJVrhwrdG/EsL4xZU2pHTnhTrs6FeXNOnZly40luqFViWbFFj95tmHFgyblZH4ZMmHRi1JE+r/Zkh4zQqMiPF5/KZIYWCyq0atakwa1e/3X5NmxAQcjSHrf9CjAAht4XiD8Rf/EAAAAASUVORK5CYII=) no-repeat;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    background-size: 100% 100%;

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #cccccc, endColorstr = #ffffff, GradientType = 0);
    zoom: 1;
    background-clip: border-box;
    -moz-background-clip: border;
    -webkit-background-clip: border-box;
    background-origin: border;
    -moz-background-origin: border;
    -webkit-background-origin: border-box;
}

.finaltest {
    font-size: larger;
    font-style: italic;
}

.button {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    border: solid 1px #aaaaaa;
}

.error {
    color: red;
}

.copyright {
    font-size: small;
    vertical-align: bottom;
}

div.task {
    background-color: #faebd7;
    width: 97%;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
}

div.task ul {
    margin-top: 5px;
    margin-bottom: 0;
}

div.correct {
    background-color: #34E294;
}

div.incorrect {
    background-color: #FF9E6D;
}

div.last {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 10px;
    border-bottom: solid 1px #333333;
}

div.first {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: solid 1px #333333;
}

.headerText {
    color: #3869FF;
}

ul.test {
    list-style-image: none;
}

li.testCorrect {
    list-style: disc;
}

li.testIncorrect {
    list-style: circle;
}

/*body {*/
/*margin: 0; padding: 0;*/
/*font: 10px normal Arial, Helvetica, sans-serif;*/
/*background: #ddd url(/static/images/body_bg.gif) repeat-x;*/
/*}*/
.container {
    width: 780px;
    margin: 0 auto;
    position: relative;
}

#header {
    background: url(/static/images/bg_header.png) no-repeat center top;
    /*//padding-top: 120px;*/
}

#header .disclaimer {
    color: #999;
    padding: 100px 0 7px 0;
    text-align: right;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

#header .disclaimer a {
    color: #ccc;
}

ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    width: 740px;
    background: #3869FF url(/static/images/topnav_bg.gif) repeat-x;
    font: 12px normal Arial, Helvetica, sans-serif;
}

ul.topnav li {
    font: 12px normal Arial, Helvetica, sans-serif;
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative; /* --Declare X and Y axis base--*/
}

ul.topnav li a {
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}

ul.topnav li a:hover {
    background: url(/static/images/topnav_hover.gif) no-repeat center top;
}

ul.topnav li span {
    /* --Drop down trigger styles--*/
    width: 17px;
    height: 35px;
    float: left;
    background: url(/static/images/subnav_btn.gif) no-repeat center top;
}

ul.topnav li span.subhover {
    background-position: center bottom;
    cursor: pointer;
}

/*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0;
    top: 35px;
    background: #3869FF;
    margin: 0;
    padding: 0;
    display: none;
    float: left;
    width: 220px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border: 1px solid #111;
}

ul.topnav li ul.subnav li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #287777; /* --Create bevel effect--*/
    border-bottom: 1px solid #59EBEB; /* --Create bevel effect--*/
    clear: both;
    width: 220px;
    z-index: 10;
}

html ul.topnav li ul.subnav li a {
    float: left;
    width: 195px;
    background: #41B8B8 url(/static/images/dropdown_linkbg.gif) no-repeat 10px center;
    padding-left: 20px;
}

html ul.topnav li ul.subnav li a:hover {
    /* --Hover effect for subnav links--*/
    background: #287777 url(/static/images/dropdown_linkbg.gif) no-repeat 10px center;
}

#header img {
    margin: 20px 0 10px;
}

.mainText {
    font-size: x-large;
    font-weight: bolder;
}

#searchform {
    margin-top: 40px;
    margin-left: 10px;
}

#searchform form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#searchform form ul li {
    display: inline;
}

#feedbackform form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#feedbackform form ul li{
    padding: 2px;
}

#feedbackform {
    margin-top: 30px;
    color: #3869FF;
}

#searchform form div.errormessage {
    background-color: red;
    color: white;
    display: block;
    font-size: 14px;
    margin: 0 0 3px;
    padding: 4px 5px;
    width: 540px;
}

#feedbackform form div.errormessage {
    background-color: red;
    color: white;
    display: block;
    font-size: 14px;
    margin: 0 0 3px;
    padding: 4px 5px;
    width: 475px;
}

.field_error input {
    border: 4px solid red;
}
.field_error textarea {
    border: 4px solid red;
}

#students {
    width: 100%;
    border: 1px solid gray;
}

#rounded-corner {
    font-size: 12px;
    margin: 10px;
    width: 575px;
    text-align: left;
    /*border-collapse: collapse;*/
    background-color: #ffffff;
    border-style: none;
}

#rounded-corner thead th.rounded-left {
    /*background: #b9c9fe url('/static/images/left.png') left -1px no-repeat;*/
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

#rounded-corner thead th.rounded-right {
    /*background: #b9c9fe url('/static/images/right.png') right -1px no-repeat;*/
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

#rounded-corner th {
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    background: #b9c9fe;
}

#rounded-corner td {
    padding: 8px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
}

/*#rounded-corner tfoot td.rounded-foot-left
{
    background: #e8edff url('/static/images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
    background: #e8edff url('/static/images/botright.png') right bottom no-repeat;
}*/
#rounded-corner tbody tr:hover td {
    background: #d0dafd;
}

th.task {
    text-align: center;
}

div.ui-datepicker {
    font-size: 10px;
}

.step-links a {
    text-decoration: none;
    font-size: 12px;
}

.step-links a:hover {
    text-decoration: underline;
    font-size: 12px;
    font-weight: bolder;
}

.active {
    color: rgb(0, 51, 153);
}

.pagination {
    margin-top: 5px;
    width: 540px;
}

label img {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 5px;
}

div img {
    vertical-align: middle;
}
p img {
    vertical-align: middle;
}

li img {
    vertical-align: middle;
}

form.options {
    width: 97%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid #3869FF;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
#id_email {
    width: 500px;
}
#id_message {
    width: 500px;
}
#feedback_button {
    margin-left: 150px;
    text-align: center;
}