{% extends "base.html" %}
{% block title %} Разделы тестирования{% endblock %}
{% block links %}
    <style type="text/css">
        html {
            height: 650px;
        }
    </style>
{% endblock %}
{% block main %}
    <span class="mainText">
        {% if teacher or not user.is_authenticated %}
            Математика - РУЛИТ!!!
            <img src="/static/images/main_bg.jpg" alt="">
        {% else %}
            {% if chapterId %}
                <ul>
                    <li><a href="train/">Тренировочный тест</a></li>
                    <li><a href="final/">Зачетный тест</a></li>
                </ul>
            {% else %}
                Выберите раздел для тестирования
            {% endif %}
        {% endif %}
    </span>
{% endblock %}