<html>
<head>
    <link type="text/css"  href="/static/css/base.css" rel="stylesheet"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/scripts/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/static/scripts/jquery.flot.js"></script>
</head>
<body style="height: 30px">
<h2>Учащийся: {{ student.first_name }}&nbsp;{{ student.last_name }}, Раздел: {{ chapter.shortName }}</h2>
<div>&nbsp;</div>
{#    <img src="/statistics/chart/chapter/{{ 1 }}/student/{{ student.id }}/draw/"/>#}
<div id="placeholder" style="width:720px;height:300px;margin-left: 16px;"></div>
<script type="text/javascript">
    $(function () {
        var data = [{% for bar in stats %}['{{ forloop.counter0 }}', {{ bar.1 }}]{% if not forloop.last %},{% endif %}{% endfor %}];
        $.plot($("#placeholder"), [
            { data: data, lines: { show: true }, points:{ show: true }}
        ], {
            xaxis: {
                ticks: [{% for bar in stats %}[{{ forloop.counter0 }},{% if forloop.counter0|divisibleby:sparserate %}"{{ bar.0|date:"j.m.Y" }}"{% else %}""{% endif %}]{% if not forloop.last %},{% endif %}{% endfor %}]
            },
            yaxis: {
                ticks: {{ max }},
                min: 0,
                max: {{ max }}
            },
            grid: {
                backgroundColor: { colors: ["#fff", "#eee"] }
            }
        });
    });
</script>
</body>
</html>