{% extends "base.html" %}
{% block menu%}
    » Статистика по студентам
{% endblock %}
{% block links %}
    <link type="text/css" href="/static/css/colorbox.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/scripts/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.colorbox.js"></script>
{% endblock %}
{% block main %}
    <H2>Статистика по студентам</H2>
    {% include "searchform.html" %}
    <table id="rounded-corner">
        <thead>
        <tr>
            <th class="rounded-left">Учащийся</th>
            <th>Дата Тестирования</th>
            <th class="rounded-right">Результат</th>
        </tr>
        </thead>
        <tbody>
        {% for test in stats.object_list %}
            <tr class="test">
                <td class="student"><img src="/static/images/student_icon.png" alt="Учащийся"> {{ test.student.first_name}}&nbsp;{{ test.student.last_name }}<br><a class="diagram" href="/statistics/chart/chapter/{{ 1 }}/student/{{ test.student.id }}/">Диаграмма</a></td>
                <td class="{% if test.final %}finaltest{% endif %}{% if test.total > test.correct %} testIncorrect{% else %} testCorrect{% endif %}">
                    <a href="/statistics/test/{{ test.id }}/">{{ test.testDate|date:"j.m.Y" }}
                    </a>
                </td>
                <td>
                    {% if test.total > test.correct  %}
                        <span class="highlight">Правильных ответов: {{ test.correct }}</span>
                    {% else %}
                        <span style="color:green;">Все ответы правильные!</span>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="3">По выбранным параметрам не удалось найти тестов</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(".diagram").colorbox({width:"820", height:"420", iframe:true});
        var txts = new Array();
        $('.student').each(function() {
            if (txts.indexOf($(this).text()) < 0)
                txts.push($(this).text())
        });
        for (var txt in txts) {
            var $s = $('.student:contains('+txts[txt]+')');
            var cnt = $s.length;
            $s.hide();
            var $sf = $('.student:contains('+txts[txt]+'):first');
            $sf.show();
            $sf.attr('rowspan', cnt);
        }
    </script>
{% endblock %}