{% extends "base.html" %}
{% block menu%}
    » Статистика по тестам
{% endblock %}
{% block links %}
    <script type="text/javascript" src="/static/scripts/jquery.ui.datepicker-ru.js"></script>
{% endblock %}
{% block main %}
    <H2>Статистика по тестам (<a href="/statistics/tests/pdf">Загрузить в PDF</a>)</H2>
    {% include "searchform.html" %}
    <table id ="rounded-corner" cellspacing="1" cellpadding="1" style="width: 760px;">
        <thead>
        <tr><th width="20%" class="rounded-left">Учащийся</th><th width="10%" class="task">Дата</th><th colspan="{{ stats.values.0.0.1|length }}" class="task">Задания</th><th rowspan="2" class="rounded-right task">Балл</th></tr>
        <tr><th colspan="2">Тема</th>
            {% if stats.values.0.0.1|length %}
                {% for item in stats.values.0.0.1 %}
                    <th align="center">{{ forloop.counter }}</th>
                {% endfor %}
            {% else %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for chap, st in stats.items %}
            {% for stat in st %}
                {% if forloop.first %}
                    <tr><th colspan="{{ stat.1|length|add:"3" }}" align="left">{{ chap }}</th></tr>
                {% endif %}
                <tr>
                    <td>{{ stat.0.student.first_name }} {{ stat.0.student.last_name }}</td><td>{{ stat.0.testDate|date:"j.m.Y" }}</td>
                    {% for item in stat.1 %}
                        <td align="center">
                            {% if item %}
                                <img src="/static/images/checkmark_s.png" alt="" width="20" height="20">
                            {% else %}
                                <img src="/static/images/error_s.png" alt="" width="20" height="20">
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td align="center">{{ stat.0.correct }}</td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr><td colspan="4">По выбранным параметрам не удалось найти тестов</td></tr>
        {%  endfor %}
        </tbody>
    </table>
{% endblock %}