{% extends "base.html" %}
{%  block title%}Сложение и вычитание дробей{% endblock %}
{% block main %}
    <h3>Действия с дробями.</h3>
            <p>Итак, что из себя представляют <a href="page210.html" title="Предыдущий урок.">дроби, виды дробей, преобразования</a> - мы вспомнили. Займёмся главным вопросом.</p>
            <p><em>Что можно делать с дробями?</em> Да всё то, что и с обычными числами. Складывать, вычитать, умножать, делить.</p>
            <p> Все эти действия с <em>десятичными</em> дробями ничем не отличаются от действий с целыми числами. Собственно, этим они и хороши, десятичные. Единственно, запятую правильно поставить надо. </p>
            <p><em>Смешанные числа</em>, как я уже говорил, малопригодны для действий. Их всё равно надо переводить в обыкновенные дроби.</p>
            <p> А вот действия с <em>обыкновенными дробями</em> похитрее будут. И гораздо важнее! Напомню: <em>все действия с дробными выражениями с буковками, синусами, неизвестными и прочая и прочая ничем не отличаются от действий с обыкновенными дробями</em>! Именно по этой причине мы очень подробно разберём здесь всю эту арифметику. А хитрые дробные выражения разберём в следующем разделе, который на четвёрку.</p>

            <p>&nbsp;</p>
            <p><strong><em>Сложение и вычитание дробей.</em></strong></p>
            <p>Сложить (отнять) дроби с одинаковыми знаменателями  каждый сможет (очень надеюсь!). Ну уж совсем забывчивым напомню: при сложении (вычитании) знаменатель не меняется. Числители складываются (вычитаются) и дают числитель результата. Типа:</p>
            <p><img src="/static/images/chapter1/001.gif" width="156" height="52" /></p>
            <p>Или:</p>
            <p><img src="/static/images/chapter1/002.gif" width="216" height="54" /></p>
            <p>Короче, в общем виде:</p>
            <p><img src="/static/images/chapter1/003.gif" width="132" height="58" /></p>
            <p>А если знаменатели разные? Тогда, используя <a href="page210.html#oss">основное  свойство дроби </a>(вот  оно и опять пригодилось!), делаем знаменатели одинаковыми!  Например:</p>
            <p><img src="/static/images/chapter1/004.gif" width="294" height="52" /></p>
            <p>Здесь нам из дроби 2/5 пришлось сделать дробь 4/10. Исключительно с целью сделать знаменатели одинаковыми. Замечу, на всякий случай, что 2/5 и 4/10 это <em>одна и та же дробь</em>! Только 2/5 нам неудобно, а 4/10 очень даже ничего.</p>
            <p>Кстати, в этом суть  решений любых заданий по математике. Когда мы из <em>неудобного</em> выражения делаем <em>то же самое, но уже удобное для решения</em>.</p>
            <p>Ещё пример:</p>
            <p><img src="/static/images/chapter1/005.gif" width="444" height="53" /></p>
            <p>Ситуация аналогичная. Здесь мы из 16 делаем 48. Простым умножением на 3. Это всё понятно. Но вот нам попалось что-нибудь типа:</p>

        <p><img src="/static/images/chapter1/006.gif" width="60" height="59" /> </p>
        <p>Как быть?! Из семёрки девятку трудно сделать! Но мы умные, мы  правила знаем! Преобразуем <em>каждую </em>дробь так, чтобы знаменатели стали  одинаковыми. Это называется «приведём к общему знаменателю»:</p>
        <p><img src="/static/images/chapter1/007.gif" width="315" height="54" /></p>
        <p>Во как! Откуда же я узнал про 63? Очень просто! 63 это число, которое нацело делится на 7 и  9 одновременно. Такое число всегда можно получить перемножением знаменателей. Если мы какое-то число умножили на 7, к примеру, то результат уж точно на 7 делиться будет!</p>
        <p>Если надо сложить (вычесть) несколько дробей, нет нужды делать это попарно, по шагам. Просто надо найти знаменатель, общий для всех дробей, и привести каждую дробь к этому самому знаменателю. Например:</p>
        <p><img src="/static/images/chapter1/008.gif" width="132" height="52" /></p>
        <p>И какой же общий знаменатель будет? Можно, конечно, перемножить 2, 4, 8, и 16. Получим 1024. Кошмар. Проще прикинуть, что число 16 отлично делится и на 2, и на 4, и на 8. Следовательно, из этих чисел легко получить 16. Это число и будет общим знаменателем. 1/2 превратим в 8/16, 3/4 в 12/16, ну и так далее. </p>
        <p>Кстати, если за общий знаменатель взять 1024, тоже всё получится, в конце всё посокращается. Только до этого конца не все доберутся, из-за вычислений...</p>
        <p>Дорешайте уж пример самостоятельно. Не логарифм какой... Должно получиться 29/16.</p>
        <p>Итак, со сложением (вычитанием) дробей ясно, надеюсь? Конечно, проще работать в сокращённом варианте, с дополнительными множителями. Но это удовольствие доступно тем, кто честно трудился в младших классах... И ничего не забыл.</p>
        <p>А сейчас мы поделаем те же самые действия, но не с дробями, а с <em>дробными выражениями</em>. Здесь обнаружатся новые грабли, да...</p>
        <p>Итак, нам надо сложить два дробных выражения:</p>
        <p><img src="/static/images/chapter1/010.gif" width="120" height="49" /></p>
        <p>Надо сделать знаменатели одинаковыми. Причём только с помощью <em>умножения</em>! Уж так основное свойство дроби велит. Поэтому я не могу в первой дроби в знаменателе к иксу прибавить единицу. (а вот бы хорошо было!). А вот если перемножить знаменатели, глядишь, всё и срастётся! Так и записываем, черту дроби, сверху пустое место оставим, потом допишем, а снизу пишем произведение знаменателей, чтобы не забыть:</p>
        <p><img src="/static/images/chapter1/011.gif" width="184" height="53" /></p>
        <p>И, конечно, ничего в правой части не перемножаем, скобки не открываем! А теперь, глядя на общий знаменатель правой части, соображаем: чтобы в первой дроби получился знаменатель х(х+1), надо числитель и знаменатель этой дроби умножить на (х+1). А во второй дроби - на х. Получится вот что:</p>
        <p><img src="/static/images/chapter1/012.gif" width="384" height="52" /></p>
        <p>Обратите внимание! Здесь появились скобки! Это и есть те грабли, на которые многие наступают. Не скобки, конечно, а их отсутствие. Скобки появляются потому, что мы умножаем <em>весь</em> числитель и <em>весь</em> знаменатель! А не их отдельные кусочки... </p>
        <p>В числителе правой части записываем сумму числителей, всё как в числовых дробях, затем раскрываем скобки в числителе правой части, т.е. перемножаем всё и приводим подобные. Раскрывать скобки в знаменателях, перемножать что-то не нужно! Вообще, в знаменателях (любых) всегда приятнее произведение! Получим:</p>
        <p><img src="/static/images/chapter1/013.gif" width="284" height="55" /></p>
        <p>Вот и получили ответ. Процесс кажется долгим и трудным, но это от практики зависит. Порешаете примеры, привыкните, всё станет просто. Те, кто освоил дроби в положенное время, все эти операции одной левой делают, на автомате!</p>

        <p>И ещё одно замечание. Многие лихо расправляются с дробями, но зависают на примерах с <em>целыми</em> числами. Типа: 2 + 1/2 + 3/4= ? Куда пристегнуть двойку? Никуда не надо пристёгивать, надо из двойки дробь сделать. Это не просто, а очень просто! 2=2/1. Вот так. Любое целое число можно записать в виде дроби. В числителе - само число, в знаменателе - единица. 7 это 7/1, 3 это 3/1 и так далее. С буквами - то же самое. (а+в) = (а+в)/1, х=х/1 и т.д. А дальше работаем с этим дробями по всем правилам.</p>
        <p>Ну, по сложению - вычитанию дробей вполне достаточно. Осталось вспомнить умножение - деление. И можно будет потренироваться.</p>
{% endblock %}