{% extends "base.html" %}
{%  block title%}Действия с обыкновенными дробями{% endblock %}
{% block links %}
    <link rel="stylesheet" href="../../static/theory/chapter1_files/load0000.css" type="text/css" media="all">
{% endblock %}
{% block main %}
    <!-- content -->
    <div id="content">
        <a id="top"></a>
        <!-- /sitenotice -->
        <!-- firstHeading -->
        <h1 id="firstHeading" class="firstHeading">Дробь</h1>
        <!-- /firstHeading -->
        <!-- bodyContent -->
        <div id="bodyContent">
            <!-- bodycontent -->
            <div lang="ru" dir="ltr" class="mw-content-ltr">
                <table cellpadding="6" align="right" style="margin-left: 20px">
                    <tr>
                        <td align="right">8</td>
                        <td>/&nbsp;13&nbsp;&nbsp;&nbsp;</td>
                        <td rowspan="2">&nbsp;&nbsp;&nbsp;<img class="tex" alt="\frac{8}{13}" src="../../static/theory/chapter1_files/bb472039.png"></td>
                        <td><small>числитель</small></td>
                    </tr>
                    <tr>
                        <td><small>числитель</small></td>
                        <td><small>знаменатель</small></td>
                        <td><small>знаменатель</small></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" bgcolor="#FFFF99">Две записи одной дроби</td>
                    </tr>
                </table>
                <p><b>Дробь</b> в <a href="http://ru.wikipedia.org/wiki/Математика" title="Математика">математике</a>&nbsp;— число, состоящее из одной или нескольких частей (<a href="http://ru.wikipedia.org/wiki/Доля_(часть)" title="Доля (часть)" class="mw-redirect">долей</a>) единицы. По способу записи дроби делятся на 2 формата: <a href="http://ru.wikipedia.org/wiki/Обыкновенная_дробь" title="Обыкновенная дробь" class="mw-redirect"><i>обыкновенные</i></a> вида <img class="tex" alt="\pm \frac{m}{n}" src="../../static/theory/chapter1_files/f2bc13fe.png"> и <a href="http://ru.wikipedia.org/wiki/Десятичная_дробь" title="Десятичная дробь"><i>десятичные</i></a>.</p>
                <h2> <span class="mw-headline" id=".D0.92.D0.B8.D0.B4.D1.8B_.D0.B4.D1.80.D0.BE.D0.B1.D0.B5.D0.B9">Виды дробей</span></h2>
                <h3> <span class="mw-headline" id=".D0.9E.D0.B1.D1.8B.D0.BA.D0.BD.D0.BE.D0.B2.D0.B5.D0.BD.D0.BD.D1.8B.D0.B5_.D0.B4.D1.80.D0.BE.D0.B1.D0.B8">Обыкновенные дроби</span></h3>
                <div class="thumb tright">
                    <div class="thumbinner" style="width:222px;"><a href="http://ru.wikipedia.org/wiki/Файл:Cake_quarters.svg" class="image"><img alt="" src="../../static/theory/chapter1_files/220px-Ca.png" width="220" height="167" class="thumbimage"></a>
                        <div class="thumbcaption">
                            <div class="magnify"><a href="http://ru.wikipedia.org/wiki/Файл:Cake_quarters.svg" class="internal" title="Увеличить"><img src="../../static/theory/chapter1_files/magnify-.png" width="15" height="11" alt=""></a></div>
                            <center>Наглядное представление дроби <img class="tex" alt="3 \over 4" src="../../static/theory/chapter1_files/76bc7638.png"></center>
                        </div>
                    </div>
                </div>
                <p><b>Обыкновенная (или простая) дробь</b>&nbsp;— запись <a href="http://ru.wikipedia.org/wiki/Рациональное_число" title="Рациональное число">рационального числа</a> в виде <img class="tex" alt="\pm \frac{m}{n}" src="../../static/theory/chapter1_files/f2bc13fe.png"> или <img class="tex" alt="\pm m/n" src="../../static/theory/chapter1_files/ef9dd052.png">. Горизонтальная или косая черта обозначает знак деления, в результате чего получается частное. <a href="http://ru.wikipedia.org/wiki/Делимое" title="Делимое" class="mw-redirect">Делимое</a> называется <b>числителем</b> дроби, а <a href="http://ru.wikipedia.org/wiki/Делитель" title="Делитель" class="mw-redirect">делитель</a>&nbsp;— <b>знаменателем</b>.</p>
                <h4> <span class="mw-headline" id=".D0.9E.D0.B1.D0.BE.D0.B7.D0.BD.D0.B0.D1.87.D0.B5.D0.BD.D0.B8.D1.8F_.D0.BE.D0.B1.D1.8B.D0.BA.D0.BD.D0.BE.D0.B2.D0.B5.D0.BD.D0.BD.D1.8B.D1.85_.D0.B4.D1.80.D0.BE.D0.B1.D0.B5.D0.B9">Обозначения обыкновенных дробей</span></h4>
                <p>Есть несколько видов записи обыкновенных дробей в печатном виде:</p>
                <ul>
                    <li>½</li>
                    <li>1/2 или <span class="texhtml" dir="ltr"><sup>1</sup> / <sub>2</sub></span></li>
                    <li>выключная формула: <img class="tex" alt="\frac{1}{2}" src="../../static/theory/chapter1_files/3dcde285.png"> (горизонтальная черта называется дробной чертой</li>
                    <li>строчная формула: <img class="tex" alt="\tfrac{1}{2}" src="../../static/theory/chapter1_files/3a96e71d.png"></li>
                </ul>
                <h4> <span class="mw-headline" id=".D0.9F.D1.80.D0.B0.D0.B2.D0.B8.D0.BB.D1.8C.D0.BD.D1.8B.D0.B5_.D0.B8_.D0.BD.D0.B5.D0.BF.D1.80.D0.B0.D0.B2.D0.B8.D0.BB.D1.8C.D0.BD.D1.8B.D0.B5_.D0.B4.D1.80.D0.BE.D0.B1.D0.B8">Правильные и неправильные дроби</span></h4>
                <p><i><b>Правильной</b></i> называется дробь, у которой <a href="http://ru.wikipedia.org/wiki/Абсолютная_величина" title="Абсолютная величина">модуль</a> числителя меньше модуля знаменателя. Дробь, не являющаяся правильной, называется <i>неправильной</i>, и представляет рациональное число, по модулю большее или равное единице.</p>
                <p>Например, дроби <img class="tex" alt="\frac{3}{5}" src="../../static/theory/chapter1_files/e656f852.png">, <img class="tex" alt="\frac{7}{8}" src="../../static/theory/chapter1_files/91e3519d.png"> и <img class="tex" alt="\frac{1}{2}" src="../../static/theory/chapter1_files/3dcde285.png">&nbsp;— правильные дроби, в то время как <img class="tex" alt="\frac{8}{3}" src="../../static/theory/chapter1_files/d54e6c02.png">, <img class="tex" alt="\frac{9}{5}" src="../../static/theory/chapter1_files/d52cc099.png">, <img class="tex" alt="\frac{2}{1}" src="../../static/theory/chapter1_files/795a3caf.png"> и <img class="tex" alt="\frac{1}{1}" src="../../static/theory/chapter1_files/ffe2d660.png">&nbsp;— неправильные дроби. Всякое целое число можно представить в виде неправильной обыкновенной дроби со знаменателем 1.</p>
                <h4> <span class="mw-headline" id=".D0.A1.D0.BC.D0.B5.D1.88.D0.B0.D0.BD.D0.BD.D1.8B.D0.B5_.D0.B4.D1.80.D0.BE.D0.B1.D0.B8">Смешанные дроби</span></h4>
                <p>Дробь, записанная в виде целого числа и правильной дроби, называется <i><b>смешанной дробью</b></i> и понимается как сумма этого числа и дроби. Любое рациональное число можно записать в виде смешанной дроби. В противоположность смешанной дроби, дробь, содержащая лишь числитель и знаменатель, называется <i>простой</i>.</p>
                <p>Например, <img class="tex" alt="2 \frac{3}{7} = 2 + \frac{3}{7} = \frac{14}{7} + \frac{3}{7} = \frac{17}{7}" src="../../static/theory/chapter1_files/c9b4e541.png">. В строгой математической литературе такую запись предпочитают не использовать из-за схожести обозначения смешанной дроби с обозначением произведения целого числа на дробь.</p>
                <h4> <span class="mw-headline" id=".D0.92.D1.8B.D1.81.D0.BE.D1.82.D0.B0_.D0.B4.D1.80.D0.BE.D0.B1.D0.B8">Высота дроби</span></h4>
                <p><i><b>Высота обыкновенной дроби</b></i>&nbsp;— модуль суммы числителя и знаменателя этой дроби. <i><b>Высота рационального числа</b></i>&nbsp;— модуль суммы числителя и знаменателя несократимой обыкновенной дроби, соответствующей этому числу.</p>
                <p>Например, высота дроби <img class="tex" alt="-\frac{15}{6}" src="../../static/theory/chapter1_files/ce3cdaa5.png"> равна <span class="texhtml" dir="ltr">15 + 6 = 21</span>. Высота же соответствующего рационального числа равна <span class="texhtml" dir="ltr">5 + 2 = 7</span>, так как дробь сокращается на <span class="texhtml" dir="ltr">3</span>.</p>
                <h4> <span class="mw-headline" id=".D0.A1.D0.BE.D1.81.D1.82.D0.B0.D0.B2.D0.BD.D1.8B.D0.B5_.D0.B4.D1.80.D0.BE.D0.B1.D0.B8">Составные дроби</span></h4>
                <p>Многоэтажной, или составной, дробью называется выражение, содержащее несколько горизонтальных (или реже&nbsp;— наклонных) черт:</p>
                <dl>
                    <dd><img class="tex" alt="\frac{1}{2}/\frac{1}{3}" src="../../static/theory/chapter1_files/fb98a8ef.png"> или <img class="tex" alt="\frac{1/2}{1/3}" src="../../static/theory/chapter1_files/8c8d7298.png"> или <img class="tex" alt="\frac{12\frac{3}{4}}{26}" src="../../static/theory/chapter1_files/7eefef6f.png"></dd>
                </dl>
                <h2> <span class="mw-headline" id=".D0.97.D0.BD.D0.B0.D1.87.D0.B5.D0.BD.D0.B8.D0.B5_.D0.B4.D1.80.D0.BE.D0.B1.D0.B8_.D0.B8_.D0.BE.D1.81.D0.BD.D0.BE.D0.B2.D0.BD.D0.BE.D0.B5_.D1.81.D0.B2.D0.BE.D0.B9.D1.81.D1.82.D0.B2.D0.BE_.D0.B4.D1.80.D0.BE.D0.B1.D0.B8">Значение дроби и основное свойство дроби</span></h2>
                <p>Дробь является всего лишь записью числа. Одному и тому же числу могут соответствовать разные дроби, как обыкновенные, так и десятичные.</p>
                <p>Если <a href="http://ru.wikipedia.org/wiki/Умножение" title="Умножение">умножить</a> числитель и знаменатель дроби на одинаковую величину:</p>
                <dl>
                    <dd><img class="tex" alt="\frac P R = \frac{C\cdot P}{C\cdot R}" src="../../static/theory/chapter1_files/3b672074.png"></dd>
                </dl>
                <p>то значение дроби останется прежним, хотя дроби&nbsp;— разные. Например:</p>
                <dl>
                    <dd><img class="tex" alt="\frac 3 4 = \frac{9}{12} = \frac{12}{16}" src="../../static/theory/chapter1_files/cda6c2a5.png"></dd>
                </dl>
                <p>И обратно, если числитель и знаменатель заданной дроби имеют <a href="http://ru.wikipedia.org/wiki/Общий_делитель" title="Общий делитель" class="mw-redirect">общий делитель</a>, то обе части можно разделить на него; такая операция называется <i>сокращением</i> дроби. Пример:</p>
                <dl>
                    <dd><img class="tex" alt="~\frac {12}{16} = \frac{4 \cdot 3}{4 \cdot 4} = \frac{3}{4}" src="../../static/theory/chapter1_files/e6d65d2e.png"> — здесь числитель и знаменатель дроби сократили на общий делитель 4.</dd>
                </dl>
                <p><i>Несократимой</i> называется дробь, числитель и знаменатель которой не имеют общих делителей, кроме <img class="tex" alt="~\pm 1" src="../../static/theory/chapter1_files/586750fe.png">.</p>
                <p>Для десятичной дроби запись почти всегда однозначна, однако имеются исключения. <a href="http://ru.wikipedia.org/wiki/0,999…" title="0,999…" class="mw-redirect">Пример</a>:</p>
                <dl>
                    <dd><span class="texhtml" dir="ltr">0,999... = 1</span>&nbsp;— две разные дроби соответствуют одному числу.</dd>
                </dl>
                <h2> <span class="mw-headline" id=".D0.94.D0.B5.D0.B9.D1.81.D1.82.D0.B2.D0.B8.D1.8F_.D0.BD.D0.B0.D0.B4_.D0.B4.D1.80.D0.BE.D0.B1.D1.8F.D0.BC.D0.B8">Действия над дробями</span></h2>
                <p>В этом разделе рассматриваются действия над обыкновенными дробями. О действиях над десятичными дробями см. <a href="http://ru.wikipedia.org/wiki/Десятичная_дробь" title="Десятичная дробь">Десятичная дробь</a>.</p>
                <h3> <span class="mw-headline" id=".D0.9F.D1.80.D0.B8.D0.B2.D0.B5.D0.B4.D0.B5.D0.BD.D0.B8.D0.B5_.D0.BA_.D0.BE.D0.B1.D1.89.D0.B5.D0.BC.D1.83_.D0.B7.D0.BD.D0.B0.D0.BC.D0.B5.D0.BD.D0.B0.D1.82.D0.B5.D0.BB.D1.8E">Приведение к общему знаменателю</span></h3>
                <p>Для сравнения, сложения и вычитания дробей их следует преобразовать (<i>привести</i>) к виду с одним и тем же знаменателем. Пусть даны две дроби: <img class="tex" alt="\frac{a}{b}" src="../../static/theory/chapter1_files/bd4e4fc4.png"> и <img class="tex" alt="\frac{c}{d}" src="../../static/theory/chapter1_files/8fc72deb.png">. Порядок действий:</p>
                <ul>
                    <li>Находим <a href="http://ru.wikipedia.org/wiki/Наименьшее_общее_кратное" title="Наименьшее общее кратное">наименьшее общее кратное</a> знаменателей: <span class="texhtml" dir="ltr"><i>M</i> = [<i>b</i>,<i>d</i>]</span>.</li>
                    <li>Умножаем числитель и знаменатель первой дроби на <span class="texhtml" dir="ltr"><i>M</i> / <i>b</i></span>.</li>
                    <li>Умножаем числитель и знаменатель второй дроби на <span class="texhtml" dir="ltr"><i>M</i> / <i>d</i></span>.</li>
                </ul>
                <p>После этого знаменатели обеих дробей совпадают (равны <i>M</i>). Вместо наименьшего общего кратного можно в простых случаях взять в качестве <i>M</i> любое другое общее кратное, например, произведение знаменателей. Пример см. ниже в разделе Сравнение.</p>
                <h3> <span class="mw-headline" id=".D0.A1.D1.80.D0.B0.D0.B2.D0.BD.D0.B5.D0.BD.D0.B8.D0.B5">Сравнение</span></h3>
                <p>Чтобы сравнить две обыкновенные дроби, следует привести их к общему знаменателю и сравнить числители получившихся дробей. Дробь с бо́льшим числителем будет больше.</p>
                <p>Пример. Сравниваем <img class="tex" alt="\frac{3}{4}" src="../../static/theory/chapter1_files/8a763ab2.png"> и <img class="tex" alt="\frac{4}{5}" src="../../static/theory/chapter1_files/a8b4bbf2.png">. НОК(4, 5) = 20. Приводим дроби к знаменателю 20.</p>
                <dl>
                    <dd><img class="tex" alt="\frac{3}{4} = \frac{15}{20}; \quad \frac{4}{5} = \frac{16}{20}" src="../../static/theory/chapter1_files/d01afff1.png"></dd>
                </dl>
                <p>Следовательно, <img class="tex" alt="\frac{3}{4} < \frac{4}{5}" src="../../static/theory/chapter1_files/4dae1c75.png"></p>
                <h3> <span class="mw-headline" id=".D0.A1.D0.BB.D0.BE.D0.B6.D0.B5.D0.BD.D0.B8.D0.B5_.D0.B8_.D0.B2.D1.8B.D1.87.D0.B8.D1.82.D0.B0.D0.BD.D0.B8.D0.B5">Сложение и вычитание</span></h3>
                <p>Чтобы сложить две обыкновенные дроби, следует привести их к общему знаменателю. Затем сложить числители, а знаменатель оставить без изменений:<br></p>
                <dl>
                    <dd><img class="tex" alt="\frac{1}{2}" src="../../static/theory/chapter1_files/3dcde285.png"> + <img class="tex" alt="\frac{1}{3}" src="../../static/theory/chapter1_files/e3c84416.png"> = <img class="tex" alt="\frac{3}{6}" src="../../static/theory/chapter1_files/21c99484.png"> + <img class="tex" alt="\frac{2}{6}" src="../../static/theory/chapter1_files/adfdfa66.png"> = <img class="tex" alt="\frac{5}{6}" src="../../static/theory/chapter1_files/2c176078.png"><br></dd>
                </dl>
                <p><a href="http://ru.wikipedia.org/wiki/Наименьшее_общее_кратное" title="Наименьшее общее кратное">НОК</a> знаменателей (здесь 2 и 3) равно 6. Приводим дробь <img class="tex" alt="\frac{1}{2}" src="../../static/theory/chapter1_files/3dcde285.png"> к знаменателю 6, для этого числитель и знаменатель надо умножить на 3.<br>
                    Получилось <img class="tex" alt="\frac{3}{6}" src="../../static/theory/chapter1_files/21c99484.png">. Приводим дробь <img class="tex" alt="\frac{1}{3}" src="../../static/theory/chapter1_files/e3c84416.png"> к тому же знаменателю, для этого числитель и знаменатель надо умножить на 2. Получилось <img class="tex" alt="\frac{2}{6}" src="../../static/theory/chapter1_files/adfdfa66.png">.<br>
                    Чтобы получить разность дробей, их также надо привести к общему знаменателю, а затем вычесть числители, знаменатель при этом оставить без изменений:<br></p>
                <dl>
                    <dd><img class="tex" alt="\frac{1}{2}" src="../../static/theory/chapter1_files/3dcde285.png">&nbsp;— <img class="tex" alt="\frac{1}{4}" src="../../static/theory/chapter1_files/5e1f9f7b.png"> = <img class="tex" alt="\frac{2}{4}" src="../../static/theory/chapter1_files/5629cdaf.png">&nbsp;— <img class="tex" alt="\frac{1}{4}" src="../../static/theory/chapter1_files/5e1f9f7b.png"> = <img class="tex" alt="\frac{1}{4}" src="../../static/theory/chapter1_files/5e1f9f7b.png"><br></dd>
                </dl>
                <p><a href="http://ru.wikipedia.org/wiki/Наименьшее_общее_кратное" title="Наименьшее общее кратное">НОК</a> знаменателей (здесь 2 и 4) равно 4. Приводим дробь <img class="tex" alt="~\frac{1}{2}" src="../../static/theory/chapter1_files/6e2dfa0c.png"> к знаменателю 4, для этого надо числитель и знаменатель умножить на 2. Получаем <img class="tex" alt="~\frac{2}{4}" src="../../static/theory/chapter1_files/00771a4e.png">.</p>
                <h3> <span class="mw-headline" id=".D0.A3.D0.BC.D0.BD.D0.BE.D0.B6.D0.B5.D0.BD.D0.B8.D0.B5">Умножение</span></h3>
                <p>Чтобы умножить две обыкновенные дроби, нужно перемножить их числители и знаменатели:</p>
                <dl>
                    <dd><img class="tex" alt="\frac{1}{2} \cdot \frac{3}{4} = \frac{3}{8}" src="../../static/theory/chapter1_files/3b83a8af.png"></dd>
                </dl>
                <p>В частности, чтобы умножить дробь на натуральное число, надо числитель умножить на число, а знаменатель оставить тем же:</p>
                <dl>
                    <dd><img class="tex" alt="\frac{2}{3} \cdot 3 = \frac{6}{3}= 2" src="../../static/theory/chapter1_files/3917a20f.png"></dd>
                </dl>
                <h3> <span class="mw-headline" id=".D0.94.D0.B5.D0.BB.D0.B5.D0.BD.D0.B8.D0.B5">Деление</span></h3>
                <p>Чтобы разделить одну обыкновенную дробь на другую, надо умножить первую на дробь, обратную второй:</p>
                <dl>
                    <dd><img class="tex" alt="\frac{1}{2}&nbsp;: \frac{1}{3} = \frac{1}{2} \cdot \frac{3}{1} = \frac{3}{2}" src="../../static/theory/chapter1_files/e236b725.png"><br></dd>
                </dl>
                <p>Чтобы получить дробь, обратную данной, следует поменять местами числитель и знаменатель. Дробь, обратная <img class="tex" alt="\frac{1}{3}" src="../../static/theory/chapter1_files/e3c84416.png">, есть дробь <img class="tex" alt="\frac{3}{1}" src="../../static/theory/chapter1_files/3a277282.png">, то есть число 3.</p>
                <h3> <span class="mw-headline" id=".D0.9F.D1.80.D0.B5.D0.BE.D0.B1.D1.80.D0.B0.D0.B7.D0.BE.D0.B2.D0.B0.D0.BD.D0.B8.D0.B5_.D0.BC.D0.B5.D0.B6.D0.B4.D1.83_.D1.80.D0.B0.D0.B7.D0.BD.D1.8B.D0.BC.D0.B8_.D1.84.D0.BE.D1.80.D0.BC.D0.B0.D1.82.D0.B0.D0.BC.D0.B8_.D0.B7.D0.B0.D0.BF.D0.B8.D1.81.D0.B8">Преобразование между разными форматами записи</span></h3>
                <p>Чтобы преобразовать обыкновенную дробь в дробь десятичную, следует разделить числитель на знаменатель. Результат может иметь конечное число десятичных знаков, но может быть и бесконечной <a href="http://ru.wikipedia.org/wiki/Периодическая_дробь" title="Периодическая дробь" class="mw-redirect">периодической дробью</a>. Примеры:</p>
                <dl>
                    <dd><img class="tex" alt="\frac{1}{2} = \frac{5}{10} = 0{,}5" src="../../static/theory/chapter1_files/fcb0936f.png"></dd>
                    <dd><img class="tex" alt="\frac{1}{7} = 0{,}142857142857142857\dots = 0{,}(142857)" src="../../static/theory/chapter1_files/700d2e0e.png"> — бесконечно повторяющийся период принято записывать в круглых скобках.</dd>
                </dl>
                <p>Чтобы преобразовать десятичную дробь в дробь обыкновенную, следует представить её дробную часть в виде натурального числа, делённого на соответствующую степень 10. Затем к результату приписывается целая часть со знаком, формируя смешанную дробь. Пример:</p>
                <dl>
                    <dd><img class="tex" alt="71{,}1475 = 71 + \frac{1475}{10000} = 71 \frac{1475}{10000} = 71 \frac{59}{400}" src="../../static/theory/chapter1_files/855c9115.png"></dd>
                </dl>
            </div>				<!-- /bodycontent -->
            <!-- printfooter -->

        </div>
        <!-- /bodyContent -->
    </div>
    <!-- /content -->
{% endblock %}